@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 8, 32, 50;
  --background-end-rgb: 8, 32, 50;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg tracking-wide;
}

nav {
  @apply pb-3;
  z-index: 999;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

@media (min-width: 925px) {
  .live-info-grid {
    @apply flex-1 flex justify-between gap-5;
  }
  .snapshot-container {
    @apply grid grid-cols-2 gap-5;
  }
}

input {
  color: black;
}

.outline_btn {
  @apply rounded-full border border-white bg-transparent py-1.5 px-5 text-white transition-all hover:border-primary-orange hover:bg-primary-orange hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.white_btn {
  @apply rounded-full border border-white py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

form input {
  @apply p-1 rounded-lg;
}

.folder-grid {
  @apply grid ml-7 mt-2;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 5px;
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
